@charset "utf-8";
/* CSS Document */
img {
    width: 200px;
    height: 200px;
}
body {
    background-color: #2C57B9;
    color: #E7E7E7;
}
h1   {
    height: 25%;
    width: 25%;
    font-weight: 100;
    max-width: none;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-variant: small-caps;
    font-size: 50px;
    color: #B7A2B5;
    line-height: 0px;
}
h2 {
    background-color: #2C57B9;
    color: #434343;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    text-align: center;
}
h3 {
    color: #C1C1C1;
    font-size: 30px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}.print {
    width: 20%;
    height: 20%;
}

body {
}
table {
    margin: auto;
    width: 1000px;
    border: thin solid #600607;
    border-radius: 10px pxl opxl 1;
}
.img1 {
}
.img1 {
    width: 1064px;
    height: 201px;
}
.img2   {
    width: 549px;
}
.img3 {
    width: 451px;
    text-align: center;
}
.img4 {
    width: 274px;
}
.img5 {
    width: 267px;
}
